
<section id="bf-banner" class="container m-tb-20"><a aria-label="go to cyberweek" href="#">
    <div class="big-background f-row f-j-space-evenly f-a-center"  style="align-content: space-evenly;">
        <div style="width: 550px; padding: 1rem;">
          <img src="/globalassets/global-assets/bf-cm/bf-logo-optimized.png" alt="bg-logo" style="width: 100%;" />
        </div>
        <div class=" f-col f-a-center" style="width: 550px;">
            <img class=" visible-lg visible-md d-none d-lg-block d-sm-none" src="/globalassets/global-assets/bf-cm/shockling-good-desktop-optimized.png" alt="shocking-deals" style="width: 100%;" />
            <img class=" hidden-lg hidden-md d-none d-sm-block d-md-block d-lg-none d-xl-none" src="/globalassets/global-assets/bf-cm/shockling-good-mobile-optimized.png" alt="good-deals" style="width: 90%;" />
            <img src="/globalassets/global-assets/bf-cm/shockling-good-btn-optimized.png" alt="shop-button" style="width: 90%; cursor: pointer;" />
        </div>
    </div>
  </a></section>


  <section id="bf-banner" class="container m-tb-20"><a aria-label="go to cyberweek" href="#">
    <div class=" big-background f-row f-j-space-evenly f-a-center" style="align-content: space-evenly;">
        <div style="width: 550px; padding: 1rem;">
          <img src="/globalassets/global-assets/bf-cm/cw-logo-optimized.png" alt="bg-logo" style="width: 100%;" />
        </div>
        <div class=" f-col f-a-center" style="width: 550px;">
            <img class=" visible-lg visible-md d-none d-lg-block d-sm-none" src="/globalassets/global-assets/bf-cm/electric-deals-desktop-optimized.png" alt="shocking-deals" style="width: 100%;" />
            <img class=" hidden-lg hidden-md d-none d-sm-block d-md-block d-lg-none d-xl-none" src="/globalassets/global-assets/bf-cm/electric-deals-mobile-optimized.png" alt="good-deals" style="width: 90%;" />
            <img src="/globalassets/global-assets/bf-cm/electric-deals-btn-optimized.png" (mouseout)="hover($event, 'out')" (mouseover)="hover($event, 'over')" alt="shop-button" style="width: 90%;" />
        </div>
    </div>
  </a></section>
  <!-- /globalassets/global-assets/bf-cm/extended-through-nov27-optimized.png -->

  <section class="container visible-lg d-none d-lg-block d-sm-none m-tb-20"><a href="#">
    <div class=" big-background f-row f-j-space-evenly f-a-center">
        <img src="/globalassets/global-assets/bf-cm/cw-logo-optimized.png" alt="cw-logo" style="width: 15%;" />
        <img src="/globalassets/global-assets/bf-cm/electric-deals-desktop-optimized.png" alt="electric-deals" style="width: 30%;" />
        <img src="/globalassets/global-assets/bf-cm/electric-deals-btn-optimized.png" alt="shop-button" style="width: 30%;" />
    </div>
  </a></section>

  <section class="container visible-lg d-none d-lg-block d-sm-none m-tb-20"><a href="#">
    <div class=" big-background f-row f-j-space-evenly f-a-center">
        <img src="/globalassets/global-assets/bf-cm/bf-logo-optimized.png" alt="cw-logo" style="width: 15%;" />
        <img src="/globalassets/global-assets/bf-cm/shockling-good-desktop-optimized.png" alt="electric-deals" style="width: 30%;" />
        <img src="/globalassets/global-assets/bf-cm/shockling-good-btn-optimized.png" alt="shop-button" style="width: 30%;" />
    </div>
  </a></section>

  <button class="btn btn-primary">button</button>
